{{> header}}
<div class='ui container'>
    <div class='ui three column grid'>
        {{#each randomAllPictures}}
        <div class='column'>
            <div class='picture'>
                <a href="/gallery/{{this.picture_id}}">
                    <img class='ui fluid image ' src="{{this.url}}">
                </a>
            </div>
            <div class='email'>
                <a href="/gallery/{{this.picture_id}}">
                    <span class='username'>@{{getUsername this.email}}</span>
                    -
                    <span class="description">{{this.description}}</span>
                </a>
            </div>
        </div> {{/each}}
    </div>
</div> {{> footer}}